<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>
 	<typeAliases>
 		<typeAlias type="com.biz.home.vo.UserInfoVO" alias="UserInfoVO"/>
 		<typeAlias type="com.biz.home.vo.SaleInfoVO" alias="SaleInfoVO"/>
 		<typeAlias type="com.biz.home.vo.PurchaseInfoVO" alias="PurchaseInfoVO"/>
 	</typeAliases>
 </configuration>